textarea {
  width: 100%;
  margin-top: 10px;
}

#screenshotContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#screenshotContainer img {
  max-width: 50px;
  height: auto;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 667px;
  max-height: 100%;
}
.input-group {
  margin-bottom: 5px;
}

.input-group label {
  margin-right: 10px;
}

.textwrapper {
  margin-bottom: 15px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}

button {
  margin-right: 10px;
}

#loading {
  margin-top: 15px;
}

#screenshotContainer {
  margin-top: 15px;
}

.body {
  font-family: monospace;
  font-size: 14px;
  color: #c8cfd8;
  
}

.body a {
  color: #5294e2;
}

.body b {
  color: #6a9e41;
}

.window {
  background: #404552;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: 2px solid #2e333f;
  width: calc(100% - 5px);
  height: 300px;
  overflow-y: auto;
}

.window_header {
  background: #2e333f;
  color: #c8cfd8;
  padding: 7px;

}

.window_title {
  display: inline-block;
}

.window_minimize_button,
.window_maximize_button,
.window_close_button {
  border-radius: 7px;
  width: 12px;
  height: 12px;
  display: inline-block;
  float: right;
  margin-left: 6px;
}

.window_minimize_button {
  background: #2cc640;
  border: 1px solid #51a75c;

}

.window_maximize_button {
  background: #fdbf2e;
  border: 1px solid #d6a839;
}

.window_close_button {
  background: #fe6256;
  border: 1px solid #ca5f59;
}

.window_content {
  padding: 7px;
}

.blink {
  animation: blinking 1s infinite;
}
.error {
  color: red;
}

@keyframes blinking {
  0% {
    clear: both;
  }

  50% {
    color: transparent;
  }
}

@media screen and (max-width: 800px) {
  .body {
    padding-top: 5px;
  }

  .window {
    width: 98%;
  }
}